.conteiner{
    display: flex;
    justify-content: center;
    margin-top: 11rem;
}

.Contate{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .20), rgba(0, 0, 0, .35), rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.78));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 500px;
    border: 2px solid white;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 10rem;
    -webkit-box-shadow: 6px 7px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 30px 0px rgba(0,0,0,0.75);
}

.Contate h2{
    color: white;
    font-size: 2rem;

}