.coolinput {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    width: 500px;
  }
  
  .coolinput label.text {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background:white;
    width: fit-content;
  }
  
  .coolinput .input.input {
    margin-bottom: 2rem;
    height: 5rem;
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 5px;
    background: white;
  }
  
  .coolinput .input.input:focus {
    outline: none;
  }