.DivText{
    width: 450px;
    height: 500px;
    border: 2px solid white;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: white;
}

.DivText h2{
    font-size: 3.4rem;
}

.DivText p {
    line-height: 1.6rem;
    font-size: 1.2rem;
    width: 400px;
}